<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>

  <img class="avatar" src="{{user.photo}}" alt="{{user.displayName}}" />
  <h1>

    Hello
    {{user.displayName}}!

  </h1>

  <u style="list-style:none;">
    <li><a href="./profile">Profile</a></li>
    <li><a href="./settings">Settings</a></li>
    <li><a href="./logout">Logout</a></li>
  </u>
</section>