<section class="index-page">
  <p class="success">
    You are on settings page!
  </p>

  <h1>{{user.displayName}}</h1>

  <h3>{{user.email}}</h3>

  <img class="avatar" src="{{user.photo}}" alt="{{user.displayName}}" />
  <u style="list-style:none;">
    <li><a href="./profile">Profile</a></li>

    <li><a href="./logout">Logout</a></li>
  </u>
</section>